.weather-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  margin: 20px;
  
}


label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}